.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
fastqc/
bam/
nohups/
fastq/
fastq_tmp/
download_data/
adapter_clipped/
qual_filtered/
.Rproj.user
.Rhistory
.RData
genome/final.genome.scf*
angsd/
sample_lists/*bam
sample_lists/*bai
species_stats/
genome/
